# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    
    steps:
      - name: Checkout code 
        uses: actions/checkout@v4
      
      - name: List available simulators
        run: xcrun simctl list devices available
        
      - name: Run Unit Tests
        run: |
          xcodebuild test \
            -project "ToDo Task.xcodeproj" \
            -scheme "ToDo Task" \
            -destination 'platform=iOS Simulator,name=iPhone SE (3rd generation)'
